<!DOCTYPE html>
<html>
<head>
    <title>Trainers</title>
</head>

<body>

<h2>Trainers</h2>

<table style="border-collapse: collapse; border: 2px solid black;">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Experience</th>
        <th>Availability</th>
        <th>Rating</th>
    </tr>

    {{#trainers}}
        <tr>
            <td>{{trainerId}}</td>
            <td>{{name}}</td>
            <td>{{specialization}}</td>
            <td>{{experienceYears}}</td>
            <td>{{availabilitySchedule}}</td>
            <td>{{rating}}</td>
        </tr>
    {{/trainers}}

</table>

<a href="/">Back</a>

</body>
</html>